/*Import variables */
@import "~@styles/variables";

.button {
    display: block;
    padding: 1em 2em;
    border: 2px solid $secondary;
    border-radius: 5px;
    font-size: .875em;
    text-transform: uppercase;
    letter-spacing: .05em;
    color: $primary;
    transition: background-color $transition250;

    &:hover {
        background-color: $secondary;
    }
    &:active {
        background-color: darken($secondary, 20%);
    }
}

