/*Import variables */
@import '~@styles/variables';

.header {
    .logo {
        max-width: fit-content;
        display: block;

    }

    .book {
        display: flex;
        justify-content: flex-end;

        @media (max-width: $breakpoint992) {
            display: none;
        }
    }
}