@font-face {
	font-family: 'Stolzl';
	font-display: swap;
	src: url('../fonts/stolzl_regular.eot');
	src: url('../fonts/stolzl_regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/stolzl_regular.woff2') format('woff2'), url('../fonts/stolzl_regular.woff') format('woff'), url('../fonts/stolzl_regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham Pro';
	font-display: swap;
	src: url('../fonts/gothampro_bold.eot');
	src: url('../fonts/gothampro_bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/gothampro_bold.woff2') format('woff2'), url('../fonts/gothampro_bold.woff') format('woff'), url('../fonts/gothampro_bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Gotham Pro';
	font-display: swap;
	src: url('../fonts/gothampro_black.eot');
	src: url('../fonts/gothampro_black.eot?#iefix') format('embedded-opentype'),
	url('../fonts/gothampro_black.woff2') format('woff2'), url('../fonts/gothampro_black.woff') format('woff'), url('../fonts/gothampro_black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}
